<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968438155126-1die2cd6nm0ianl4j9ncve7c924tbavi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968438155126-1die2cd6nm0ianl4j9ncve7c924tbavi</string>
	<key>API_KEY</key>
	<string>AIzaSyB5jHUyOMoYJ0zDO641VV8o6Rv74-rlRTM</string>
	<key>GCM_SENDER_ID</key>
	<string>968438155126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.vlrnbase.staging</string>
	<key>PROJECT_ID</key>
	<string>vlrnbase-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>vlrnbase-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:968438155126:ios:c4ffeb305888806f8a9c57</string>
</dict>
</plist>
